@mixin size($fz, $fw, $m, $p, $col, $bgcol) {
    font-size: $fz;
    font-weight: $fw;
    margin: $m;
    padding: $p;
    color: $col;
    background-color: $bgcol;
}

%build {
    display: flex;
    justify-content: center;
    align-items: center;
}



.main__inner {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 130px auto 150px auto;

    h1 {
        font-size: 60px;
        font-weight: 800;
        font-size: 60px;
        color: #2C234D;



        @media (max-width: 900px) {
            font-size: 50px;
        }

        @media (max-width: 610px) {
            width: 350px;
            font-size: 30px;
        }

        @media (max-width: 400px) {
            width: 300px;
            font-size: 25px;
        }

        @media (max-width: 370px) {
            width: 250px;
        }
    }

    p {
        color: #5D5A67;
        margin: 27px 0 33px 0;

        @media (max-width: 610px) {
            width: 350px;
        }

        @media (max-width: 400px) {
            width: 300px;
        }

        @media (max-width: 370px) {
            width: 250px;
        }
    }


    .find-answers-img{
        margin-top: 35px;

        img {
            @media (max-width: 900px) {
                width: 580px;
            }

            @media (max-width: 750px) {
                width: 480px;
                height: 350px;
            }

            @media (max-width: 530px) {
                width: 400px;
                height: 300px;
            }

            @media (max-width: 400px) {
                width: 300px;
                height: 270px;
            }

            @media (max-width: 370px) {
                width: 250px;
            }
        }
    }
}
form {
    background-color: #F7F6FA;
    width: 440px;
    display: flex;
    align-items: center;
    gap: 35px;
    border-radius: 25px;
    padding: 20px;

    @media (max-width: 900px) {
        width: 380px;
    }

    @media (max-width: 610px) {
        width: 350px;
    }

    @media (max-width: 400px) {
        width: 300px;
        padding: 15px;
    }

    @media (max-width: 370px) {
        width: 250px;
    }


    img {
        width: 29px;
        height: 29px;
    }

    input {
        border: none;
        border-radius: 15px;
        font-size: 17px;

        @media (max-width: 345px) {
            max-width: 165px;
            font-size: 14px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .main__inner {
        display: grid;
    }

    .main__inner-text {
        margin: 0 auto;
        @media (max-width: 1300px) {
            width: 700px;
        }

        @media (max-width: 750px) {
            width: 500px;
        }

        @media (max-width: 680px) {
            width: 400px;
        }

        @media (max-width: 530px) {
            width: 350px;
        }

        @media (max-width: 400px) {
            width: 300px;
        }

        @media (max-width: 370px) {
            width: 250px;
        }
    }





    .pass__exam-text {
        width: 580px;
        margin: 0 auto;
    }
}
.long-line {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    @media (max-width: 995px) {
        width: 95%;
    }

    @media (max-width: 725px) {
        width: 100%;
    }

    @media (max-width: 335px) {
        width: 90%;
    }

    @media (max-width: 308px) {
        display: none;
    }

    img {
        position: relative;
        z-index: 5;

        @media (max-width: 400px) {
            width: 85px;
        }
    }


    &__wrapper {
        background-color: #FC2E90;
        color: white;
        font-weight: 700;
        font-size: 24px;
        width: 100%;
        height: 64px;
        line-height: 64px;
        border-radius: 255px;
        position: relative;
        right: 55px;

        @media (max-width: 400px) {
            height: 45px;
        }

        p {
            padding: 0 25px 0 95px;
            color: white;

            @media (max-width: 1125px) {
                padding-left: 60px;
            }

            @media (max-width: 1300px) {
                font-size: 16px;
            }

            @media (max-width: 995px) {
                font-size: 14px;
            }

            @media (max-width: 400px) {
                padding: 0 15px 0 55px;

                line-height: 45px;
            }

            span {
                @media (max-width: 670px) {
                    display: none;
                }
            }
        }

        svg {
            width: 48px;
            color: white;
            position: absolute;
            right: 15px;
            top: 8px;

            @media (max-width: 400px) {
                width: 35px;
                height: 31px;
                line-height: 45px;
            }

            @media (max-width: 335px) {
                display: none;
            }
        }
    }
}
.areas-of-study__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.areas-of-study__card {
    background-color: #F7F6FA;
    width: 200px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media (max-width: 900px) {
        width: 170px;
        height: 190px;
    }

    @media (max-width: 530px) {
        width: 150px;
        height: 152px;
    }


    p {
        color: #2C234D;
        font-size: 17px;
        line-height: 22.1px;
        padding: 0 25px;
        text-align: center;

        @media (max-width: 530px) {
            font-size: 14px;
        }
    }
}
.areas-of-study__text {
    font-size: 37px;
    line-height: 47px;
    color: #2C234D;
    margin-bottom: 31px;
    margin-left: 65px;
    max-width: 600px;

    @media (max-width: 610px) {
        font-size: 30px;
    }

    @media (max-width: 530px) {
        font-size: 25px;
    }

    @media (max-width: 370px) {
        width: 180px;
    }

    @media (max-width: 305px) {
        margin-left: 15px;
    }
}
.areas-of-study {
    margin-bottom: 110px;
}
.pass__exam__container {
    display: flex;
    justify-content: center;
    gap: 40px;

    @media (max-width: 1300px) {
        display: grid;
    }

    @media (max-width: 370px) {
        padding-left: 14px;
    }

    img {
        @media (max-width: 900px) {
            width: 500px;
            height: 400px;
        }

        @media (max-width: 750px) {
            width: 400px;
            height: 350px;
        }

        @media (max-width: 530px) {
            width: 300px;
            height: 300px;
        }

        @media (max-width: 370px) {
            width: 250px;
        }
    }

    div {
        @media (max-width: 370px) {
            width: 250px;
        }
    }

}
.pass__exam-text {
    margin-top: 50px;

    @media (max-width: 750px) {
        width: 500px;
    }

    @media (max-width: 750px) {
        width: 300px;
    }

    .pass__exam-text-1 {
        font-size: 20px;
        color: #5E38FC;

        @media (max-width: 610px) {
            font-size: 18px;
        }

        @media (max-width: 530px) {
            font-size: 16px;
        }

        @media (max-width: 370px) {
            width: 250px;
        }
    }

    .pass__exam-text-2 {
        font-size: 36px;
        color: #2C234D;
        margin: 26px 0 16px 0;

        @media (max-width: 610px) {
            font-size: 30px;
        }

        @media (max-width: 530px) {
            font-size: 25px;
        }

        @media (max-width: 370px) {
            width: 250px;
        }
    }

    div {
        width: 53px;
        height: 3px;
        background-color: #FC2E90;
        margin-bottom: 38px;
    }

    .pass__exam-text-3 {
        color: #5D5A67;

        @media (max-width: 370px) {
            width: 250px;
        }
    }
}
.pass__exam {
    margin-bottom: 150px;
}
.swiper__inner-1 {
    background-image: linear-gradient(180deg, #28173c 50%, #0e4b96 100%);
}
.swiper__inner-2 {
    background-image: linear-gradient(180deg, #3c86be 50%, #32094c 100%);
}
.swiper__inner-3 {
    background-image: linear-gradient(180deg, #6b39a8 50%, #8da9cb 100%);
}
.swiper__inner {
    background-size: cover;
    height: 450px;
    width: 100%;
    display: grid;
    place-content: center;

    svg {
        height: 25px;
        width: 25px;

    @media (max-width: 420px) {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }

        path {
            fill: yellow;
        }
    }
}
.swiper-button-next, .swiper-button-prev {
    color: white;
}
.swiper-text-p1 {
    margin: 18px 0;
    font-size: 18px;
    color: white;

    @media (max-width: 900px) {
        font-size: 16px;
    }
}
.swiper-avatar {
    display: flex;
    align-items: center;

    p {
        margin-left: 5px;
        color: white;
        font-size: 12px;
        font-weight: 700;
    }
}
.swiper__inner {
    h3 {
        color: white;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;

        @media (max-width: 900px) {
            font-size: 25px;
        }

        @media (max-width: 620px) {
            width: 400px;
            font-size: 22px;
        }

        @media (max-width: 420px) {
            width: 300px;
            margin: 0 auto;
            font-size: 20px;
        }

        @media (max-width: 345px) {
            width: 250px;
            margin: 0 auto;
            font-size: 18px;
        }
    }

    & .container {
        width: 750px;
    }
}
.swiper-button-next:after, .swiper-button-prev:after {
    @media (max-width: 1000px) {
        display: none;
    }
}
.swiper-text-p1 {
    @media (max-width: 1000px) {
        width: 580px;
    }

    @media (max-width: 620px) {
        width: 400px;
        font-size: 14px;
    }

    @media (max-width: 420px) {
        width: 300px;
        margin: 21px auto;
    }

    @media (max-width: 345px) {
        width: 250px;
        margin: 21px auto;
    }
}
.small__container {
    @media (max-width: 1000px) {
        display: grid;
        place-content: center;
    }

    @media (max-width: 620px) {
        width: 580px;
    }
}
.svg__container {
    display: flex;
    gap: 10px;
}
.half-svg path {
    fill: linear-gradient(yellow 50%, transparent 100%);
}
.swiper-slide {
    transition-duration: 0.5s; /* Замените на желаемую длительность анимации */
}
.swiper-pagination-bullet {
    background-color: rgb(0, 0, 0, 0.4);
}
.swiper-pagination-bullet-active {
    background-color: #007aff;
}




/* question part */

.best-answers__section {
    margin: 73px 0 42px 0;
}

.main__question {
    background-color: #F7F6FA;
}

.main__title-text {
    display: flex;
    justify-content: space-between;
}

.main__title-part-1 {
    display: flex;
    align-items: center;
    @include size(12px, none, none, none, #8E98AF, none);

    .part-1-text {
        margin: 0 11px 0 7px;
    }
}

.notification-img,
.information-icon {
    @media (max-width: 400px) {
        display: none;
    }
}

.main__title-btn {
    @include size(12px, 700, none, none, white, #00BB61);
    width: 120px;
    display: inline-block;
    border: none;
    padding: 5px;
    cursor: pointer;

    @media (max-width: 340px) {
        width: 100px;
    }

    p {
        display: inline-block;
        padding: 0 10px;
    }
}
.main__title-part-2 {
    display: flex;
    align-items: center;

    .information-icon {
        margin: 0 32px 0 21px;
    }
}


.best-answers__article summary {
    @include size(16px, 700, 22px 0 36px 0, none, #D835F3, none);
}

.card__author {
    position: relative;

    .card__author-name {
        position: absolute;
        top: 0;
        left: 55px;
        @include size(16px, 500, none, none, #282E3C, none);
    }

    .card-icons {
        display: flex;
        position: absolute;
        top: 25px;
        left: 55px;
        color: #8E98AF;

        .rating {
            padding: 0 25px;
        }

        .like,
        .rating,
        .text {
            display: flex;
            align-items: center;
        }
    }
}

.card__summary-article {
    position: relative;
}

.card-data {
    position: absolute;
    top: 0;
    right: 0;
    color: #8E98AF;

    @media (max-width: 525px) {
        display: none;
    }
}


.text {
    img, p {
        @media (max-width: 525px) {
            display: none;
        }
    }
}

.like p,
.rating p,
.text p {
    margin-left: 5px;
}

.card__summary {
    filter: blur(2px);
    background-color: white;
    padding: 10px 30px 30px 30px;
}

.card__summary:hover {
    filter: none;
}

.card-plan {
    @include size(16px, 400, none, 10px 0 0 0, #282E3C, none);

    @media (max-width: 380px) {
        font-size: 14px;
    }

    @media (max-width: 340px) {
        margin-top: 22px;
    }
}

.btn__article {
    position: relative;
    display: flex;
    justify-content: center;

    img {
        @media (max-width: 355px) {
            position: relative;
            left: 25px;
        }
    }

    .show-btn {
        margin-top: 75px;
        width: 215px;
        @extend %build;
        @include size(16px, 700, none, 10px 50px 10px 10px, white, #5838FC);
        border: none;
        cursor: pointer;

        @media (max-width: 355px) {
            width: 175px;
        }

        p {
            padding-left: 40px;
        }
    }
}

.data-part-1 {
    @media (max-width: 490px) {
        display: none;
    }
}

.pass__exam-quiestion__article {
    background-color: white;
    width: 100%;
    margin-bottom: 122px;

    .pass__exam-container-question {
        padding: 70px 0 70px 0;
    }
}


.questions__details-text {
    @media (max-width: 441px) {
        margin-top: 15px;
    }
}


.card__container-questions {
    background-color: white;
    border-radius: 15px;
    padding: 30px;

    &__article,
    &__article2,
    &__article3,
    &__article4 {
        border-bottom: 1px solid #8E98AF;
    }
}

.card__icons-other-part {
    display: flex;
}

.social-science {
    @media (max-width: 525px) {
        display: none;
    }
}


.card__icons-other-part {
    position: relative;

    .card__data-question {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;

        @media (max-width: 555px) {
            display: none;
        }
    }
}

.star-question,
.text-question {
    margin: 0 10px 10px 25px;
}

.like__question {
    position: relative;
    bottom: 4px;
    margin-right: 10px;
}



.card__container-questions__article2,
.card__container-questions__article3,
.card__container-questions__article4 {
    margin-top: 30px;
}

.questions__details-text {
    margin-bottom: 20px;
}

.popular-themes__container {
    margin: 80px auto 150px auto;

    h1 {
        text-align: center;
        @include size(36px, 700, 0 0 50px 0, none, #2C234D, none);

        @media (max-width: 380px) {
            font-size: 30px;
        }
    }

    .popular-themes__wrapper {
        @extend %build;
        flex-wrap: wrap;
        gap: 50px;

        .list-text__wrapper {
            background-color: white;
            padding: 20px 0 30px 30px;
            border-radius: 15px;

            li {
                margin-top: 25px;
            }
        }
    }
}



.popular-topics-img {
    @media (max-width: 380px) {
        width: 250px;
    }
}

.list-text__wrapper a {
    text-align: center;
    @media (max-width: 350px) {
        font-size: 14px;
    }
}